body{
    background-color: darkseagreen;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
header, footer {
    background-color: darkseagreen;
    padding: 5px;
    border-style: dotted;
    width: 50%;
    margin: 10px 25% 10px 25%;
}
ul a{
    color: white;
    text-decoration: none;
}
li {
    display: inline-block;
    height: 20px;
    width: 80px;
    padding: 10px;
    text-align: center;
    color: white;
    border: 2px solid gray;
    background-color: cadetblue;
}
li:hover {
    background-color: gray;
    border-style: none;
}
p, img, table, form {
    background-color: cadetblue;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
button {
    background-color: darkseagreen;
    border-color: gray;
    color: white;
    margin: 10px;
}
button:active{
    background-color: gray;
}    
img{
    width: 100px;
    height: auto;
}